* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(-45deg, #0f2027, #2c5364, #16a36f, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#container {
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

#img img {
    width: 20rem;
}

#calculator {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: #f8fafc;
    background: #262626;
    border-radius: 8px;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#title {
    font-size: 2.25rem;
    font-weight: 700;
    position: relative;
}

#title::after {
    position: absolute;
    content: "";
    width: 8rem;
    height: 2px;
    background: #16a36f;
    display: block;
    margin-top: 0.5rem;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}

.input-box label {
    font-size: 1.1rem;
    color: #cbd5e1;
    font-weight: 500;
}

.input-field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3f3f46;
    margin-top: 3px;
    border-radius: 3px;
    padding: 0.3rem;
}

.input-field span,
.input-field i {
    font-size: 1.4rem;
    color: #cbd5e1;
    padding: 0.6rem 1rem;
}

.input-field input {
    background-color: transparent;
    border: none;
    width: 60%;
    color: #f8fafc;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0 0.5rem;
    text-align: center;
}

.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-field input:focus {
    outline: none;
}

#calculate {
    border: none;
    background-color: #16a36f;
    color: #f8fafc;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.6rem 0;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

#calculate:hover {
    background-color: #128c5e;
}

#calculate:active {
    transform: scale(0.98);
}

#result {
    display: flex;
    align-items: center;
    border-top: #ffffff34 solid 2px;
    padding: 0.75rem 0;
    gap: 2rem;
}

#bmi {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.25rem;
    font-weight: 700;
}

#bmi span:last-child {
    font-size: 0.875rem;
    color: #cbd5e1;
}

#description {
    width: 15.5rem;
}

#more-info {
    text-align: center;
    color: #cbd5e1;
    border-top: 1px solid #ffffff34;
    padding-top: 1.5rem;
}

#more-info a {
    color: #16a36f;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

#more-info a:hover {
    color: #cbd5e1;
}

.hidden {
    display: none;
}

.normal {
    color: #16a36f;
}

.atention {
    color: #dc2626;
}

@media screen and (max-width: 1024px) {
    #img {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    #container {
        width: 100%;
        height: 100%;
        ;
    }

    #calculator {
        width: 100%;
        height: 100%;
        border-radius: 0;
        justify-content: center;
        align-items: center;
    }
}